<div class="rounded-2xl p-2 flex flex-col" [formGroup]="snippetForm"
    [ngClass]="{'bg-base-200': isPopup, 'pt-16': (!isPopup && config.isPublicRoute(router.url))}"
    [ngStyle]="{'height': isPopup ? '80vh' : 'calc(100dvh - var(--navbar-height))'}">
    <div class="px-0 pb-0 pt-2">
        <div class="text-xl px-1 pb-2 flex justify-between items-center">
            <div class="flex flex-col">
                <span>Create {{!user.isLoggedIn ? 'Anonymous' : ''}} Snippet</span>
                @if (!user.isLoggedIn) {
                    <span class="text-gray-500 text-xs pb-1">Login now to access the snippet later</span>
                }
            </div>
            @if (isPopup) {
            <span class="flex ml-auto gap-3">
                <button class="btn btn-circle btn-outline btn-xs" (click)="maximize()" tabindex="-1">
                    <span class="material-symbols-outlined">crop_free</span>
                </button>
                <button class="btn btn-circle btn-outline btn-xs" (click)="close()" tabindex="-1">
                    <span class="material-symbols-outlined">close</span>
                </button>
            </span>
            } @else {
            <button class="btn btn-sm btn-primary" (click)="onSave()">
                <span class="loading loading-infinity" *ngIf="loading"></span>
                Save
            </button>
            }
        </div>
        <h2 class="card-title px-1 flex justify-items-start items-center flex-wrap">
            <div class="flex-grow">
                <input type="text" [placeholder]="defaultTitle" class="input input-sm w-full" formControlName="title"
                    [maxlength]="config.maxLengths.title">
            </div>
            <select class="select select-sm w-72" placeholder="Title" formControlName="language">
                <option *ngFor="let lang of languageList" [value]="lang.id">{{lang.name}}</option>
            </select>
            <div class="join">
                <button class="btn btn-sm btn-outline join-item" (click)="togglePublic(false)"
                    [ngClass]="{'btn-active': !this.snippetForm.get('public')?.value}">
                    Private
                    <span class="material-symbols-outlined">lock</span>
                </button>
                <button class="btn btn-sm btn-outline join-item" (click)="togglePublic(true)"
                    [ngClass]="{'btn-active': this.snippetForm.get('public')?.value}">
                    Public
                    <span class="material-symbols-outlined">public</span>
                </button>
            </div>
        </h2>
    </div>
    <div id="editor" class="m-1 mt-2 bg-base-100 p-0 rounded-lg overflow-hidden h-full flex-grow min-h-[200px]">
        <app-code-highlighter class="h-full block" formControlName="code" (languageChanged)="languageChange($event)"
            [language]="snippetForm.get('language')?.value || ''"
            [autoDetectLanguage]="!snippetForm.get('language')?.dirty && !languageFormatDetected"></app-code-highlighter>
    </div>
    <div class="px-1 pb-1 mt-2">
        <textarea class="w-full textarea" placeholder="Brief Summary" formControlName="description"
            [maxlength]="config.maxLengths.description"></textarea>
        <div class="tags flex flex-wrap gap-2">
            <input type="text" placeholder="Tags" class="input input-sm w-1/2" #tagInput
                (keydown.enter)="onTagAdd(tagInput.value); tagInput.value = ''"
                *ngIf="(this.snippetForm.get('tags')?.value || []).length <= config.maxLengths.tagsPerSnippet"
                (keydown.space)="onTagAdd(tagInput.value); tagInput.value = ''" [maxLength]="config.maxLengths.tag">
            <p-chip [label]="tag" styleClass="text-xs" class="block" [removable]="true" (onRemove)="onTagRemove(tag)"
                *ngFor="let tag of this.snippetForm.get('tags')?.value || []"></p-chip>
        </div>
        @if (isPopup) {
        <div class="flex justify-end items-center pb-2 mt-2 min-h-[56px] flex-wrap gap-2">
            <div class="error text-sm pr-4">
                <app-error-message [show]="!!errorMessage" [errorMessage]="errorMessage"></app-error-message>
            </div>
            <div class="buttons flex gap-2">
                <button class="btn btn-sm btn-outline" (click)="close()">Close</button>
                <button class="btn btn-sm btn-primary" (click)="onSave()">
                    <span class="loading loading-infinity" *ngIf="loading"></span>
                    Save
                </button>
            </div>
        </div>
        }
    </div>
</div>