<div class="hero min-h-screen pt-16">
    <div class="hero-content flex-col lg:flex-row-reverse z-50">
        <img src="/assets/images/hero-logo.png" class="w-96 rounded-lg" alt="Home page logo" />
        <div>
            <h1 class="text-5xl font-bold">&lt;ShareCode/&gt;</h1>
            <p class="pt-6 text-lg">Share coding ideas to the world of coders by creating code snippets here
            </p>
            <p class="pb-6 pt-2"><kbd class="kbd">Ctrl </kbd> + <kbd class="kbd">C</kbd>, <kbd class="kbd">Ctrl </kbd> +
                <kbd class="kbd"> V</kbd>
            </p>
            <button class="btn btn-primary" [routerLink]="userService.isLoggedIn ? '/dashboard' : '/login'">
                Get Started
                <span class="material-symbols-outlined default-icon-size">
                    arrow_forward
                </span></button>
            <button class="btn btn-secondary ml-3" routerLink="create">
                Create Snippet
                <span class="material-symbols-outlined default-icon-size">
                    data_object
                </span>
            </button>
        </div>
    </div>
</div>