<div class="navbar bg-base-100 fixed z-10">
    <div class="flex-1">
        <label for="sidemenu-drawer" class="btn btn-ghost lg:hidden px-1">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
        </label>
        <a class="btn btn-ghost normal-case text-xl" routerLink="/dashboard">&lt;ShareCode/&gt;</a>
    </div>
    <div class="flex-none gap-2">
        <div class="form-control hidden lg:inline-block">
            <input type="text" placeholder="Search" class="input input-bordered" />
        </div>
        <div class="dropdown dropdown-end">
            <label tabindex="0" class="btn btn-ghost btn-circle avatar">
                <div class="w-10 rounded-full">
                    <img [src]="userService.profileUrl" />
                </div>
            </label>
            <ul tabindex="0" class="mt-3 p-2 shadow menu menu-compact dropdown-content bg-base-100 rounded-box w-52">
                <li>
                    <a class="justify-between">
                        Profile
                        <!-- <span class="badge">New</span> -->
                    </a>
                </li>
                <li><a>Settings</a></li>
                <li><a (click)="logout()" href="javascript:void(0)">Logout</a></li>
            </ul>
        </div>
    </div>
</div>