<app-navbar></app-navbar>
<div class="drawer drawer-mobile pt-[4.1rem]">
    <input id="sidemenu-drawer" type="checkbox" class="drawer-toggle" />
    <div class="drawer-content z-0 flex flex-col">
        <router-outlet></router-outlet>
    </div>
    <div class="drawer-side">
        <label for="sidemenu-drawer" class="drawer-overlay"></label>
        <ul class="menu p-4 overflow-y-auto w-72 bg-base-200 text-base-content">
            <app-sidemenu></app-sidemenu>
        </ul>
    </div>
</div>