<div class="bg-base-200 rounded-2xl p-2">
    <div class="px-0 pb-0 pt-2">
        <h2 class="card-title px-1 flex justify-items-start items-center">
            <input type="text" placeholder="Title" class="input input-sm w-1/2" >
            <input type="checkbox" class="toggle toggle-sm" id="private" checked />
            <label for="private" class="text-sm">Private Snippet</label>
            <span class="flex ml-auto">
                <button class="btn btn-circle btn-outline btn-xs" (click)="close()" tabindex="-1">
                    <span class="material-icons">close</span>
                </button>
            </span>
        </h2>
    </div>
    <div id="editor" class="m-1 mt-2 bg-base-100 p-0 rounded-lg">
        <ngx-codejar [highlightMethod]="highlightMethod" [(code)]="content" [highlighter]="'hljs'"
            [showLineNumbers]="true"></ngx-codejar>
    </div>
    <div class="mt-2 px-1 pb-1">
        <textarea class="w-full textarea" placeholder="Brief Summary" tabindex="-1"></textarea>
        <div class="flex justify-end gap-3 m-2">
            <button class="btn btn-sm btn-outline" (click)="close()" tabindex="-1">Close</button>
            <button class="btn btn-sm" [class.loading]="loading" (click)="onSave()" tabindex="-1">Save</button>
        </div>
    </div>
</div>