<div class="hero min-h-screen pt-16">
    <div class="hero-content flex-col lg:flex-row-reverse z-50 gap-4 gap-y-5 gap-x-20">
        <div class="text-center lg:text-left">
            <h1 class="text-5xl font-bold">Login to &lt;ShareCode/&gt;</h1>
            <p class="py-6 text-lg">Login now to start creating code snippets and save for later use. As a logged in
                user, you
                will get options to create private code snippets and favorites.</p>
        </div>
        <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
            <div class="card-body">
                <div class="form-control mt-2 mb-4" id="social-login-container">
                    <div class="flex justify-center">
                        <asl-google-signin-button GoogleSigninButtonDirective type='standard' size='large' width="250"
                            theme="filled_blue">
                        </asl-google-signin-button>
                    </div>
                </div>
                <div class="divider my-0">OR</div>
                <div class="text-center font-semibold text-2xl">Login Now</div>
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">Email</span>
                    </label>
                    <input type="text" placeholder="Email" class="input input-bordered" />
                </div>
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">Password</span>
                    </label>
                    <input type="text" placeholder="Password" class="input input-bordered" />
                    <label class="label">
                        <label for="forgot-popup" class="label-text-alt link link-hover">Forgot password?</label>
                    </label>
                </div>
                <div class="text-center mt-3">
                    <p>Don't have an account? <a routerLink="/signup" class="link">Create One</a></p>
                </div>
                <div class="form-control mt-3">
                    <button class="btn btn-primary" (click)="onLogin()">Login</button>
                </div>
            </div>
        </div>
    </div>
</div>

<input type="checkbox" id="forgot-popup" class="modal-toggle" [(ngModel)]="showForgotModel" />
<div class="modal">
    <div class="modal-box">
        <label for="forgot-popup" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
        <h3 class="font-bold text-lg">Forgot Password</h3>
        <div class="form-control">
            <label class="label">
                <span class="label-text">Enter email to receive Password Reset link</span>
            </label>
            <input type="text" [formControl]="forgotEmailControl" placeholder="Email" class="input input-bordered"
                InputValidityColors />
        </div>
        <div class="modal-action">
            <button class="btn" [class.loading]="sendingEmail" (click)="onSend()" [disabled]="forgotEmailControl.invalid">Send</button>
        </div>
    </div>
</div>