<div class="hero min-h-screen pt-16" id="main-login-screen">
    <div class="hero-content flex-col lg:flex-row-reverse z-50 gap-4 gap-y-5 gap-x-20">
        <div class="text-center lg:text-left">
            <h1 class="text-5xl font-bold">Login to &lt;ShareCode/&gt;</h1>
            <p class="py-6 text-lg">Login now to start creating code snippets and save for later use. As a logged in
                user, you
                will get options to create private code snippets and favorites.</p>
        </div>
        <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
            <form class="card-body" [formGroup]="loginForm">
                <div class="form-control mt-2 mb-4" id="social-login-container">
                    <div class="flex justify-center">
                        <asl-google-signin-button GoogleSigninButtonDirective type='standard' size='large' width="250"
                            theme="filled_blue">
                        </asl-google-signin-button>
                    </div>
                </div>
                <div class="divider my-0">OR</div>
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">Email</span>
                    </label>
                    <input type="text" placeholder="Email" class="input input-bordered" formControlName="email"
                        InputValidityColors [submitted]="submitted" />
                    <label class="label">
                        <span class="label-text-alt text-red-300"
                            *ngIf="submitted && loginForm.get('email')?.hasError('required')">Email is Required</span>
                        <span class="label-text-alt text-red-300"
                            *ngIf="submitted && loginForm.get('email')?.hasError('pattern')">Email is Invalid</span>
                    </label>
                </div>
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">Password</span>
                    </label>
                    <input type="text" placeholder="Password" class="input input-bordered" formControlName="password"
                        InputValidityColors [submitted]="submitted" />
                    <label class="label">
                        <span class="label-text-alt text-red-300"
                            *ngIf="submitted && loginForm.get('password')?.hasError('required')">Password is Required</span>
                        <span class="label-text-alt text-red-300"
                            *ngIf="submitted && loginForm.get('password')?.hasError('minlength')">Password is too short</span>
                    </label>
                </div>
                <label for="forgot-popup" class="link link-hover label-text-alt block text-right">Forgot password?</label>
                <div class="text-center mt-2">
                    <p>Don't have an account? <a routerLink="/signup" class="link">Create One</a></p>
                </div>
                <div class="alert alert-error shadow-lg p-2 mt-2 flex justify-center" *ngIf="errorMessage">
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none"
                            viewBox="0 0 24 24">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>
                        <span>{{errorMessage}}</span>
                    </div>
                </div>
                <div class="form-control mt-3">
                    <button class="btn btn-primary" [class.loading]="loading" (click)="onLogin()">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>

<input type="checkbox" id="forgot-popup" class="modal-toggle" [(ngModel)]="showForgotModel" />
<div class="modal">
    <div class="modal-box">
        <label for="forgot-popup" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
        <h3 class="font-bold text-lg">Forgot Password</h3>
        <div class="form-control">
            <label class="label">
                <span class="label-text">Enter email to receive Password Reset link</span>
            </label>
            <input type="text" [formControl]="forgotEmailControl" placeholder="Email" class="input input-bordered"
                InputValidityColors />
        </div>
        <div class="modal-action">
            <button class="btn" [class.loading]="sendingEmail" (click)="onSend()"
                [disabled]="forgotEmailControl.invalid">Send</button>
        </div>
    </div>
</div>