<div class="alert alert-error shadow-lg p-3 visible-control-error" *ngIf="errorMessage && !isFloating && show" @fadeIn
  @scaleUp>
  <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
      d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
  </svg><span>{{errorMessage}}</span>
</div>

<label class="label error-msg-custom-label visible-control-error" *ngIf="isFloating && show && control">
  <span class="label-text-alt text-red-300" *ngIf="control.hasError('required')">{{controlName}} is
    Required</span>
  <span class="label-text-alt text-red-300" *ngIf="control.hasError('minlength')">{{controlName}} is too
    short</span>
  <span class="label-text-alt text-red-300" *ngIf="control.hasError('pattern')">{{controlName}} is
    Invalid</span>
  <span class="label-text-alt text-red-300" *ngIf="control.hasError('email')">{{controlName}} is
    Invalid</span>
  <span class="label-text-alt text-red-300" *ngIf="control.hasError('passwordMismatch')">{{controlName}} is
    Invalid</span>
</label>