<div class="hero min-h-screen pt-16">
    <div class="hero-content flex-col lg:flex-row-reverse  z-50 gap-4 gap-y-5 gap-x-20 w-full p-0 md:p-4">
        <div class="text-center lg:text-left pt-4">
            <h1 class="text-5xl font-bold">Login to &lt;ShareCode/&gt;</h1>
            <p class="py-6 text-lg">Login now to start creating code snippets and save for later use. As a logged in
                user, you
                will get options to create private code snippets and favorites.</p>
        </div>
        <div class="card flex-shrink-0 max-w-lg w-screen shadow-2xl bg-base-100" @fadeIn @scaleUp>
            <form class="card-body" [formGroup]="signupForm">
                <div class="flex gap-[0.5rem] flex-col">
                    <div class="form-control flex-grow">
                        <label class="label">
                            <span class="label-text">First Name</span>
                        </label>
                        <input type="text" placeholder="First Name" formControlName="firstName"
                            class="input input-bordered" appInputValidityColors [submitted]="submitted" />
                        <app-error-message [show]="submitted" controlName="First Name"
                            [control]="signupForm.get('firstName')" [isFloating]="true"></app-error-message>
                    </div>
                    <div class="form-control flex-grow">
                        <label class="label">
                            <span class="label-text">Middle Name</span>
                        </label>
                        <input type="text" placeholder="Middle Name" formControlName="middleName"
                            class="input input-bordered" />
                    </div>
                    <div class="form-control flex-grow">
                        <label class="label">
                            <span class="label-text">Last Name</span>
                        </label>
                        <input type="text" placeholder="Last Name" formControlName="lastName"
                            class="input input-bordered" appInputValidityColors [submitted]="submitted" />
                        <app-error-message [show]="submitted" controlName="Last Name"
                            [control]="signupForm.get('lastName')" [isFloating]="true"></app-error-message>
                    </div>
                </div>
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">Email</span>
                    </label>
                    <input type="text" placeholder="Email" class="input input-bordered" formControlName="emailAddress"
                        appInputValidityColors [submitted]="submitted" />
                    <app-error-message [show]="submitted" controlName="Email" [control]="signupForm.get('emailAddress')"
                        [isFloating]="true"></app-error-message>
                </div>
                <div class="flex gap-[0.5rem] flex-col ">
                    <div class="form-control flex-grow">
                        <label class="label">
                            <span class="label-text">Password</span>
                        </label>
                        <div class="join w-full">
                            <input type="password" placeholder="Password"
                                class="input input-bordered join-item flex-grow" formControlName="password"
                                appInputValidityColors [submitted]="submitted" #password />
                            <button
                                class="btn join-item btn-outline btn-square border-opacity-20 custom-password-toggle"
                                (click)="password.type = password.type === 'password' ? 'text' : 'password'">
                                <span class="material-symbols-outlined">{{password.type === 'password' ? 'visibility' :
                                    'visibility_off'}}</span>
                            </button>
                        </div>
                        <app-error-message [show]="submitted" controlName="Password"
                            [control]="signupForm.get('password')" [isFloating]="true"></app-error-message>
                    </div>
                    <div class="form-control flex-grow">
                        <label class="label">
                            <span class="label-text">Confirm Password</span>
                        </label>
                        <div class="join w-full">
                            <input type="password" placeholder="Confirm Password" class="input input-bordered join-item flex-grow"
                                formControlName="confirmPassword" appInputValidityColors [submitted]="submitted" #confirmPassword />
                            <button class="btn join-item btn-outline btn-square border-opacity-20 custom-password-toggle"
                                (click)="confirmPassword.type = confirmPassword.type === 'password' ? 'text' : 'password'">
                                <span class="material-symbols-outlined">{{confirmPassword.type === 'password' ? 'visibility' :
                                    'visibility_off'}}</span>
                            </button>
                        </div>
                        <app-error-message [show]="submitted" controlName="Confirm Password"
                            [control]="signupForm.get('confirmPassword')" [isFloating]="true"></app-error-message>
                    </div>
                </div>
                <div class="text-center mt-3">
                    <p>Already have an account? <a routerLink="/login" class="link">Login Now</a></p>
                </div>
                <app-error-message [errorMessage]="errorMsg" class="mt-3"></app-error-message>
                <div class="form-control mt-3">
                    <button class="btn btn-primary" (click)="onSignup()">
                        <span class="loading loading-infinity" *ngIf="loading"></span>
                        SignUp
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>