pre.wrap-code {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.card-footer-content {
    display: flex;
    height: 100px;
    overflow: hidden;
    background: linear-gradient(0deg, #000, #0000006b, #0000002a, #00000000);
    z-index: 999;
    left: 1px;
    right: 1px;
    bottom: 1px;
    transition: all 0.3s ease-in-out;
    // border-bottom: 1px solid hsl(var(--b2) / var(--tw-bg-opacity));
    // border-left: 1px solid hsl(var(--b2) / var(--tw-bg-opacity));
    // border-right: 1px solid hsl(var(--b2) / var(--tw-bg-opacity));
    border-bottom-left-radius: var(--rounded-box, 1rem);
    border-bottom-right-radius: var(--rounded-box, 1rem);
    padding-top: 20px;
    padding-bottom: 10px;
    // min-height: 60px;
}

.code-card:hover {
    .card-footer-content {
        opacity: 1;
    }
}