@if (userService.isLoggedIn) {
    <app-navbar></app-navbar>
    <div class="drawer lg:drawer-open">
        <input id="sidemenu-drawer" type="checkbox" class="drawer-toggle" />
        <div class="drawer-content z-0 flex flex-col overflow-auto" style="margin-top: var(--navbar-height);">
            <router-outlet class="router-outlet-full-height"></router-outlet>
        </div>
        <div class="drawer-side">
            <label for="sidemenu-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
            <ul class="menu p-4 min-h-full overflow-y-auto w-60 bg-base-200 text-base-content pt-[4.5rem]">
                <app-sidemenu></app-sidemenu>
            </ul>
        </div>
    </div>
} @else {
    <div class="h-screen">
        <app-public-navbar></app-public-navbar>
        <div style="padding-top: var(--navbar-height);" class="h-full">
            <router-outlet></router-outlet>
        </div>
    </div>
}