<app-navbar></app-navbar>
<div class="drawer lg:drawer-open pt-[4.1rem]">
    <input id="sidemenu-drawer" type="checkbox" class="drawer-toggle" />
    <div class="drawer-content flex flex-col">
        <router-outlet></router-outlet>
    </div>
    <div class="drawer-side">
        <label for="sidemenu-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
        <ul class="menu p-4 min-h-full overflow-y-auto w-72 bg-base-200 text-base-content">
            <app-sidemenu></app-sidemenu>
        </ul>

    </div>
</div>