<div class="card w-full bg-base-200 shadow-xl transition-all relative code-card overflow-hidden" *ngIf="codeItem">
    <div class="card-body px-0 pb-0 pt-2">
        <h2 class="card-title px-4 flex justify-between">
            <span class="truncate">{{codeItem.title}}</span>
            <span class="flex align-middle gap-2">
                <button (click)="onCopy()" [ngClass]="{'swap-active': copied, 'btn-outline': !copied}"
                    class="btn btn-square btn-sm btn-outline btn-accent swap swap-rotate"
                    [pTooltip]="!copied ? 'Copy' : 'Copied'" tooltipPosition="top" [showDelay]="!copied ? 1000 : 0">
                    <span class="material-icons swap-on">done</span>
                    <span class="material-icons swap-off" *ngIf="!copyLoading">content_copy</span>
                    <span class="loading loading-infinity swap-off" *ngIf="copyLoading"></span>
                </button>
                <button class="btn btn-square btn-sm btn-outline btn-secondary" pTooltip="Open" tooltipPosition="top"
                    [showDelay]="1000">
                    <span class="material-icons">open_in_full</span>
                </button>
                <button class="btn btn-square btn-sm btn-outline btn-error" pTooltip="Delete" tooltipPosition="top"
                    [showDelay]="1000" (click)="onDelete()" *ngIf="isAuthor">
                    <span class="material-icons">delete</span>
                </button>
            </span>
        </h2>
        <div class="px-4 -my-1 flex gap-3 justify-between text-slate-500">
            <div class="flex gap-3">
                <span class="text-xs flex align-center" pTooltip="Likes" tooltipPosition="top" [showDelay]="1000">
                    <span class="material-icons mt-[1px] mr-1">thumb_up</span>
                    <span>{{codeItem.likeCount}}</span>
                </span>
                <span class="text-xs flex align-center" pTooltip="Comments" tooltipPosition="top" [showDelay]="1000">
                    <span class="material-icons mt-[1px] mr-1">chat_bubble</span>
                    <span>{{codeItem.commentsCount}}</span>
                </span>
                <span class="text-xs flex align-center" pTooltip="Views" tooltipPosition="top" [showDelay]="1000">
                    <span class="material-icons mt-[1px] mr-1">visibility</span>
                    <span>{{codeItem.views}}</span>
                </span>
                <span class="text-xs flex align-center" pTooltip="Copies" tooltipPosition="top" [showDelay]="1000">
                    <span class="material-icons mt-[1px] mr-1">content_copy</span>
                    <span>{{codeItem.copies}}</span>
                </span>
                <!-- <span class="text-xs flex align-center" pTooltip="Language" tooltipPosition="top" [showDelay]="1000">
                    <span class="material-icons mt-[1px] mr-1">data_object</span>
                    <span>{{languageName}}</span>
                </span> -->
            </div>
            <div class="flex gap-3">
                <span class="text-xs flex align-center" pTooltip="Created At" tooltipPosition="top" [showDelay]="1000">
                    <span class="material-icons mt-[1px] mr-1">schedule</span>
                    <span>{{codeItem.createdAt | date}}</span>
                </span>
            </div>
        </div>
        <div class="mockup-code min-w-0 w-full h-52 pb-0 overflow-hidden">
            <app-code-highlighter [code]="codeItem.code" [language]="'javascript'" [readOnlyMiniMode]="true"
                class="block h-full select-none"></app-code-highlighter>
        </div>
    </div>
    <div class="absolute card-footer-content flex px-2 flex-col">
        <div class="row1 flex justify-between">
            <div class="flex justify-between items-center">
                <div class="profile-pic flex items-center gap-3">
                    <div class="avatar">
                        <div class="w-10 rounded-full">
                            <img [src]="codeItem.createdBy.image || config.maleAvatarUrl" />
                        </div>
                    </div>
                    <div class="flex flex-col">
                        <span class="font-bold">{{codeItem.createdBy.fullName}}</span>
                        <span class="text-xs flex align-center" pTooltip="Created At" tooltipPosition="top" [showDelay]="1000">
                            <span>{{codeItem.createdAt | date}}</span>
                        </span>
                    </div>
                </div>
            </div>
            <div>
                likes and Comments
            </div>
        </div>
        <div class="row2 p-1 truncate text-xs">
            {{codeItem.summary}}
        </div>
    </div>
</div>