.mockup-code pre:before {
    margin-right: 0ch;
}

pre code {
    overflow-x: unset !important;
    background-color: unset !important;
}

.mockup-code {

    padding-top: 0px;

    &:before {
        margin-bottom: 0rem;
        display: none;
    }
}

td.hljs-ln-line.hljs-ln-numbers {
    padding-right: 0.5rem;
}

.CodeMirror-line {
    padding-left: 20px !important;
}

.CodeMirror-cursor,
.CodeMirror-selected {
    min-height: 24px !important;
}

.ngx-codejar-editor,
.codejar-linenumbers {
    background-color: transparent;
    border: none !important;
    box-shadow: none !important;
}
