.p-tooltip {
    .p-tooltip-text {
        font-size: 0.7rem;
    }
}

span.material-icons:not(.avatar) {
    font-size: 1rem;
}

iframe {
    color-scheme: light;
}

#credential_picker_container {
    margin-top: 70px;
}