.p-tooltip {
    .p-tooltip-text {
        font-size: 0.7rem;
    }
}

span.material-icons:not(.avatar):not(.custom-icon) {
    font-size: 1rem;
}

iframe {
    color-scheme: light;
}

#credential_picker_container {
    margin-top: 70px;
}

.form-control:has(>input+.label) {
    position: relative;
    margin-bottom: 10px;

    &>input+.label {
        position: absolute;
        bottom: -18px;
        width: 100%;
        padding-top: 0px;
        padding-bottom: 0px;
    }
}


.error-msg-custom-label {
    position: absolute;
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
}

body {
    --google-onetap-visibility: block;

    #credential_picker_container {
        display: var(--google-onetap-visibility);
    }
}

.custom-password-toggle {
    border-color: #ffffff22;
}