<!-- Sidebar content here -->
<li (click)="onSelectItem(); openCreate()">
    <a [class]="isActiveRoute('code/create') ? 'active': ''">
        <span class="material-symbols-outlined default-icon-size text-xl">
            data_object
        </span>
        New Snippet
    </a>
</li>
<!-- <div class="divider">Favorites</div> -->
<li (click)="onSelectItem()">
    <a>
        <span class="material-symbols-outlined default-icon-size text-xl">
            integration_instructions
        </span>
        My Snippets
    </a>
</li>
<li (click)="onSelectItem()">
    <a>
        <span class="material-symbols-outlined default-icon-size text-xl">
            favorite
        </span>
        My Favorites
    </a>
</li>
<li (click)="onSelectItem()">
    <a>
        <span class="material-symbols-outlined default-icon-size text-xl">
            interests
        </span>
        Following
    </a>
</li>