<!-- Sidebar content here -->
<li>
    <a href="javascript:void(0)" [class]="isActiveRoute('code/create') ? 'active': ''" (click)="onSelectItem(); openCreate()" (keydown.enter)="onSelectItem(); openCreate()">
        <span class="material-symbols-outlined default-icon-size text-xl">
            data_object
        </span>
        New Snippet
    </a>
</li>
<!-- <div class="divider">Favorites</div> -->
<li>
    <a [routerLink]="null" (click)="onSelectItem()" (keydown.enter)="onSelectItem()">
        <span class="material-symbols-outlined default-icon-size text-xl">
            integration_instructions
        </span>
        My Snippets
    </a>
</li>
<li>
    <a [routerLink]="null" (click)="onSelectItem()" (keydown.enter)="onSelectItem()">
        <span class="material-symbols-outlined default-icon-size text-xl">
            favorite
        </span>
        My Favorites
    </a>
</li>
<li>
    <a [routerLink]="null" (click)="onSelectItem()" (keydown.enter)="onSelectItem()">
        <span class="material-symbols-outlined default-icon-size text-xl">
            interests
        </span>
        Following
    </a>
</li>