<div class="divider">
    <h1 class="text-2xl m-2">Your Recent Snippets ⌛</h1>
</div>
<div class="grid gap-3 overflow-x-hidden px-2 pb-3 lg:grid-cols-3 md:grid-cols-2">
    <app-code-item *ngFor="let item of mySnippets" [codeItem]="item"></app-code-item>
</div>
<div class="divider">
    <h1 class="text-2xl m-2">Other Trending Snippets 🔥</h1>
</div>
<div class="grid gap-3 overflow-x-auto px-2 pb-3 lg:grid-cols-3 md:grid-cols-2">
    <app-code-item></app-code-item>
    <app-code-item></app-code-item>
    <app-code-item></app-code-item>
    <app-code-item></app-code-item>
    <app-code-item></app-code-item>
    <app-code-item></app-code-item>
</div>